/AccessExcel/AccessExcel/AccessExcel.aps
/AccessExcel/.vs
/AccessExcel/AccessExcel/Debug
/AccessExcel/Debug
*.ipch
*.pdb
*.ipdb
*.ilk
*.suo
*.lastbuildstate
*.tlog
*.obj
*.idb
*.pch
*.res
*.pdb
*.recipe
*.log
*.iobj
/MultiLangFramework/x64/Debug/MultiLangFramework.exe
/MultiLangFramework/x64/Debug/MultiLangFrameworkRes_en.dll
/MultiLangFramework/x64/Debug/MultiLangFrameworkRes_jp.dll
/MultiLangFramework/x64/Debug/MultiLangFrameworkRes_ko.dll
/MultiLangFramework/x64/Release/MultiLangFramework.exe
/MultiLangFramework/x64/Release/MultiLangFrameworkRes_en.dll
/MultiLangFramework/x64/Release/MultiLangFrameworkRes_jp.dll
/MultiLangFramework/x64/Release/MultiLangFrameworkRes_ko.dll
/MultiLangFramework/Release/MultiLangFrameworkRes_en.dll
/MultiLangFramework/Release/MultiLangFrameworkRes_jp.dll
/MultiLangFramework/Release/MultiLangFrameworkRes_ko.dll
/MultiLangFramework/Release/MultiLangFramework.exe
*.user
*.bak
*.aps
Debug
/MultiLangFramework/packages/rapidjson.1.0.2/build
